.popup__input_type_error {
  border-bottom: solid 1px #f00;
}

.popup__error {
  list-style-type: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  visibility: hidden;
}

.popup__error_visible {
  visibility: visible;
  display: block;
  color: #f00;
}

  

  